.buttonsContainer {
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap; 
  gap: 3vw; 
  margin: 4vh auto 4vh auto;
  width: 90vw;

  padding: 0 2vw;
}

.commonButton {
  flex: 1 1 20%;
  min-width: 2vw;
  padding: 1vh 1vw;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  background-color: rgb(39, 78, 51);
  box-shadow: black 0px 0px 5px;
  color: white;
  cursor: pointer;
  transition: background-color 1s, color 1s;
  font-family: Andale Mono, AndaleMono, monospace;
  font-size: 2.5vmin;
  font-weight: 200;
}

.commonButton:hover {
  background-color: rgb(112, 170, 129);
  color: black;
}
