 <div class="place-slide">
      <img [src]="place.image" alt="Place Image" />
      <div class="place-information">
        <p class="place-title">{{place.name}}</p>
        <p class="place-description">{{place.description}}</p>
        <p class="place-location">{{place.location}}</p>
        <div class="place-price-label">
          <p class="place-price">${{place.price}}</p>
        </div>

        <div class="place-rating-container">
          <p class="place-rating">{{place.rating}} ★</p>
          <p class="place-votesUp">{{place.votesUp}}↑</p>
          <p class="place-votesDown">{{place.votesDown}}↓</p>
        </div>
      </div>
    </div>