.searchResultsPageContainer {
    display: flex; 
    flex-direction: row; 
    width: 90%;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
    margin: 2.5vmin auto; 
    height: 30vmin; 
    align-items: center; 
    background-image: linear-gradient(to right, #ffffff, #bee4a5);
}

a {
    color: inherit;
    text-decoration: none;
}
.searchResultsPageContainer img {
    width: 25vw; 
    height: 100%;
    object-fit: cover;
}

.place-information {
    padding: 2vmin 3vmin;
    display: flex;
    flex-direction: column; 
    flex-grow: 1; 
    margin-left: 2vw;
}

.place-title {
    font-size: 3vmin;
    margin-top: 2vh;
}

.place-location {
    font-size: 2.5vmin;
    width: 70%;
    color: rgb(0, 0, 0); 
}

.place-rating-container {
    display: flex; 
    flex-direction: column; 
}

.place-rating {
    position: relative;
    top: -3vmin;
    font-size: 2vmin;
    text-align: center;
    right: -2vw;
    background-color: black;
    color: white;
    padding: 1vmin;
    width: 10vmin;
}

.place-votesUp,
.place-votesDown {
    font-size: 2.5vmin;;
    margin-right: 4vw;
    width: fit-content;
}

