<div class="placeInfo">
    <img class="imageBg"
        src="https://www.fourseasons.com/alt/img-opt/~75.701/publish/content/dam/fourseasons/images/web/BHA/BHA_034_aspect16x9.jpg">
    <div class="placeTitle">
        Four seasons Hotel
    </div>
    <div class="placeProsContainer">
        <p class="placeProElement">Cerca de ti!</p>
        <p class="placeProElement">Económico!</p>
        <p class="placeProElement">Para turistas!</p>
        <p class="placeProElement">Soleado!</p>
    </div>
    <app-carousel [type]="'news'" ></app-carousel>    
</div>