<div class="profileSettingsContainer">
    <div class="profileSettingsTitle">
        <h1>Tu perfil:</h1>
    </div>
    <div class="profileSettingsContent">
        <img class="profileSettingsImage"
            src="https://i.pinimg.com/originals/72/6f/0f/726f0f537683dcb022074b371ce60e9a.jpg"
            alt="Profile settings image">
        <div class="profileSettingsInfo">
            <p class="profileSettingsLabel">Nombre</p>
            <p class="profileSettingsValue">Andrés Bejarano</p>
            <p class="profileSettingsLabel">Correo</p>
            <p class="profileSettingsValue">samplemail.sample</p>
            <p class="profileSettingsLabel">Telefono</p>
            <p class="profileSettingsValue">555-11212</p>
        </div>
    </div>
    <div class="profilePlanContainer">
        <p class="profilePlanLabel">Plan Actual:</p>
        <p class="profilePlanValue">Plan Premium</p>
    </div>
    <div class="profileSettingsButtons">
        <button class="profileSettingsButton">Editar perfil</button>
        <button class="profileSettingsButton">Cambiar Foto</button>
        <button class="profileSettingsButton">Cambiar Plan</button>
    </div>
</div>