<div class="RoutPlannerPageContainer">
    <div class="RoutPlannerHeader">
        <div class="RoutPlannerTitle">
            Tu ruta de viajes:
        </div>
        <button class="RoutPlannerAddStepButton">Añadir actividad</button>
    </div>
    <div class="RoutPlannerStepContainer">
        <div class="RoutPlannerStepTitle">
            1. Hospedaje en hotel Four Seasons
        </div>
        <div class="RoutPlannerStep">
            <img class="RoutPlannerStepImage"
                src="https://www.fourseasons.com/alt/img-opt/~75.701/publish/content/dam/fourseasons/images/web/BHA/BHA_034_aspect16x9.jpg">
            <div class="RoutPlannerStepSchedule">
                <div class="RoutPlannerStepDay">
                    Inicio: 23 de marzo, 10:00 AM
                </div>
                <div class="RoutPlannerStepDay">
                    Fin: 26 de marzo, 2:00 PM
                </div>
                <div class="RoutPlannerStepDay">
                    Kr 13 #85-46, Chapinero, Bogotá, Cundinamarca
                </div>
                <div class="RoutPlannerStepPrice">
                    Precio estimado: $1,200,000 COP
                </div>
            </div>
        </div>
    </div>
    <div class="RoutPlannerStepContainer">
        <div class="RoutPlannerStepTitle">
            2. Tour por el Museo del Oro
        </div>
        <div class="RoutPlannerStep">
            <img class="RoutPlannerStepImage"
                src="https://bogota.gov.co/sites/default/files/eventos/2025-01/planes-en-bogota-visita-el-museo-de-oro-2025.jpg">
            <div class="RoutPlannerStepSchedule">
                <div class="RoutPlannerStepDay">
                    Inicio: 24 de marzo, 11:00 AM
                </div>
                <div class="RoutPlannerStepDay">
                    Fin: 24 de marzo, 1:00 PM
                </div>
                <div class="RoutPlannerStepDay">
                    Cra. 6 #15-88, La Candelaria, Bogotá, Cundinamarca
                </div>
                <div class="RoutPlannerStepPrice">
                    Precio estimado: $20,000 COP
                </div>
            </div>
        </div>
    </div>
    <div class="RoutPlannerStepContainer">
        <div class="RoutPlannerStepTitle">
            3. Cena en Restaurante Andrés Carne de Res
        </div>
        <div class="RoutPlannerStep">
            <img class="RoutPlannerStepImage"
                src="https://media.meer.com/attachments/024c2d9b1ea97324370f8a9276797ae855e01611/store/fill/860/645/be489877b9648a1105f91903f27e9ded36d10571cac631232d9716afd8bc/Restaurante-Andres-carne-de-res-en-Bogota-Colombia.jpg">
            <div class="RoutPlannerStepSchedule">
                <div class="RoutPlannerStepDay">
                    Inicio: 25 de marzo, 7:00 PM
                </div>
                <div class="RoutPlannerStepDay">
                    Fin: 25 de marzo, 10:00 PM
                </div>
                <div class="RoutPlannerStepDay">
                    Cl. 82 #12-21, Zona Rosa, Bogotá, Cundinamarca
                </div>
                <div class="RoutPlannerStepPrice">
                    Precio estimado: $150,000 COP
                </div>
            </div>
        </div>
    </div>
</div>