<div class="userPageContainer">
    <div class="userPageTitle">
        <h1>Perfil de usuario</h1>
    </div>
    <div class="userInfoContainer">
        <a href="place">
            <div class="userInfoContainer">
                <img class="userImage"
                    src="https://media.istockphoto.com/id/1682296067/photo/happy-studio-portrait-or-professional-man-real-estate-agent-or-asian-businessman-smile-for.jpg?s=612x612&w=0&k=20&c=9zbG2-9fl741fbTWw5fNgcEEe4ll-JegrGlQQ6m54rg="
                    alt="User Avatar">
                <div class="userBasicInfo">
                    <div class="userName">
                        <p>David Nieto</p>
                    </div>
                    <div class="userAccountCreatedAgo">
                        <p>Se unió hace 3 años</p>
                    </div>
                    <div class="TravelPointsContainer">
                        <div class="TravelPointsLabel">Puntos de viaje!</div>
                        <div class="TravelPointsValue">3421</div>"
                    </div>
                    <div class="userTravelHistory">
                        David viajó 30 veces el último año!
                    </div>
                </div>
                <div class="userRecomendations">
                    <p class="userRecomentationsTitle">Visitados por David el último año. </p>
                    <div class="RecommendationContainer">
                        <p class="RecommendationName">Hotel California.</p>
                        <img class="RecommendationImg"
                            src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2c/29/84/e3/486104-guest-room.jpg?w=900&h=500&s=1"
                            alt="Recommendation Image">
                        <p class="RecommendationPopulation">30k visitas el último mes</p>
                        <p class="RecommendationDistance">A 30 km de ti!</p>
                    </div>
                    <div class="RecommendationContainer">
                        <p class="RecommendationName">Restaurante Gustosito.</p>
                        <img class="RecommendationImg"
                            src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/26/bc/24/e3/la-cabrera-en-bogota.jpg?w=600&h=400&s=1"
                            alt="Recommendation Image">
                        <p class="RecommendationPopulation">100k visitas el último mes</p>
                        <p class="RecommendationDistance">A 20 km de ti!</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>